{% extends "Knowledge_Hubs/base.html" %}
{% block page_header %}
<h1 xmlns="http://www.w3.org/1999/html">Topics</h1>
{% endblock page_header %}

{% block content %}
  <p>Topics</p>
  <ul>
    {% for topic in topics %}
      <li><h3>
        <a href="{% url 'Knowledge_Hubs:topic' topic.id %}">{{ topic}}</a>
      </h3></li>
    {% empty %}
      <li><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>
  <h3><a href="{% url 'Knowledge_Hubs:new_topic' %}">Add a new topic</a></h3>
{% endblock content %}